<div class="about">
<div class="about1">
  <h5>Nullam Interdum Aliquet</h5>
  <p>Aliquam vehicula augue sed felis tempor, ac interdum lorem sodales. Proin dictum imperdiet est, et sodales tellus consequat sit amet. Vestibulum ullamcorper felis non magna rutrum, ornare finibus erat varius. Morbi vulputate metus purus, ut dignissim ex commodo in. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras tempor laoreet felis, ut scelerisque purus sagittis eu. Cras nec pharetra ipsum. Suspendisse commodo neque massa, ut posuere massa lobortis sed. Aenean semper dui at ex rhoncus, in rhoncus nisl tincidunt.</p>
</div>
<div class="about1">
  <h5>Praesent Scelerisque</h5>
  <div class="w3-light-grey">
    <div class="w3-white" style="height:24px;width:100%;font-weight: bold">Donec Accumsan Dui</div>
  </div><br>
  <div class="w3-light-grey">
  <div class="w3-white" style="height:24px;width:100%;font-weight: bold">Ultricies Elit</div>
</div><br>
  <div class="w3-light-grey">
  <div class="w3-white" style="height:24px;width:100%;font-weight: bold">Suscipit Nisi Nec</div>
</div><br>
</div>
<div class="about1">
  <h5>Nunc vestibulum</h5>

  <div class="w3-light-white">
    <div class="w3-blue" style="height:24px;width:85%;color: white">Suspendisse</div>
  </div><br>

  <div class="w3-light-white">
    <div class="w3-orange" style="height:24px;width:75%;color: white">Nulla tempor</div>
  </div><br>

  <div class="w3-light-white">
    <div class="w3-green " style="height:24px;width:65%;color: white">Vivamus</div>
  </div><br>
  <div class="w3-light-white">
    <div class="w3-red" style="height:24px;width:97%;color: white;">Pellentesque</div>
  </div>
</div><br>
<div class="about1">
  <h5>Proin tortor tellus</h5>
  <p>Mauris sapien purus, commodo at augue id, ornare venenatis risus. Sed et nibh sit amet quam facilisis sodales.
    Suspendisse consequat pellentesque suscipit. In vel scelerisque velit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Aenean a lorem posuere tortor fermentum bibendum sed ut elit. Praesent suscipit, metus sit amet rhoncus dignissim, nisl ipsum vestibulum sem, ut rutrum lacus felis porttitor velit.
    Suspendisse elementum, leo vitae maximus feugiat, libero arcu fermentum eros, ut tincidunt mi felis at ipsum. Fusce cursus, lacus ac pellentesque mollis, leo massa iaculis sem, ut egestas velit eros id sapien. Vestibulum ultrices convallis dapibus. Suspendisse libero tellus, interdum eu sodales ac.</p>

</div>
</div>
<div style="background-color: gainsboro"><h4 class="team">Company Team</h4></div>
<div class="company">
  <div class="gallery">
    <a target="_blank" href="./assets/team1.jpg">
      <img src="./assets/team1.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><p>John Smith</p>
     <p style=" font-size: 10px">Nullam ornare, odio eu lacinia venenatis, dui purus varius odio, in pellentesque purus nibh in libero. Nullam magna felis.</p>
    <i class="fa fa-facebook-official" style="font-size:24px;color: dodgerblue"></i>
    <i class="fa fa-linkedin-square" style="font-size:24px;color: deepskyblue"></i>
    <i class="fa fa-twitter-square" style="font-size:24px;color: cornflowerblue"></i>
    <i class="fa fa-google-plus-square" style="font-size:24px;color: darkred"></i>
    </div>
  </div>

  <div class="gallery">
    <a target="_blank" href="./assets/team2.jpg">
      <img src="./assets/team2.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc"><p>Alice Schulth</p>
   <p style=" font-size: 10px">Nullam ornare, odio eu lacinia venenatis, dui purus varius odio, in pellentesque purus nibh in libero. Nullam magna felis.</p>
      <i class="fa fa-facebook-official" style="font-size:24px;color: dodgerblue"></i>
      <i class="fa fa-linkedin-square" style="font-size:24px;color: deepskyblue"></i>
      <i class="fa fa-twitter-square" style="font-size:24px;color: cornflowerblue"></i>
      <i class="fa fa-google-plus-square" style="font-size:24px;color: darkred"></i>
    </div>
  </div>

  <div class="gallery">
    <a target="_blank" href="./assets/team3.jpg">
      <img src="./assets/team3.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc"><p>Helen Cooper</p>
    <p style=" font-size: 10px"> Nullam ornare, odio eu lacinia venenatis, dui purus varius odio, in pellentesque purus nibh in libero. Nullam magna felis.</p>
      <i class="fa fa-facebook-official" style="font-size:24px;color: dodgerblue"></i>
      <i class="fa fa-linkedin-square" style="font-size:24px;color: deepskyblue"></i>
      <i class="fa fa-twitter-square" style="font-size:24px;color: cornflowerblue"></i>
      <i class="fa fa-google-plus-square" style="font-size:24px;color: darkred"></i>
    </div>
  </div>

  <div class="gallery">
    <a target="_blank" href="./assets/team4.jpg">
      <img src="./assets/team4.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><p>Charles Hester</p>
  <p style=" font-size: 10px"> Nullam ornare, odio eu lacinia venenatis, dui purus varius odio, in pellentesque purus nibh in libero. Nullam magna felis.</p>
      <i class="fa fa-facebook-official" style="font-size:24px;color: dodgerblue"></i>
      <i class="fa fa-linkedin-square" style="font-size:24px;color: deepskyblue"></i>
      <i class="fa fa-twitter-square" style="font-size:24px;color: cornflowerblue"></i>
      <i class="fa fa-google-plus-square" style="font-size:24px;color: darkred"></i>
    </div>
  </div>
</div>
