<div class="contact">
  <div class="contact1">

    <form>
      First name:<br>
      <input type="text" name="firstname" placeholder="Enter your firstname">
      <br>
      Last name:<br>
      <input type="text" name="lastname" placeholder="Enter your lastname">
      <br>
      Email:<br>
      <input type="email" name="email" placeholder="Enter your email">
    </form>

  </div>
  <div class="contact1">
    Message:<br>
    <textarea rows="4" cols="30">
</textarea><br>
      <input type="submit" style="background-color: #2dcc70;color: white" value="Send Message">
  </div>
  <div class="contact1">
<br>
   <h6 style="color: #34495e"> Vivamus posuere lectus vel lectus<br></h6>
      <p style="font-size: 10px">Phasellus vel arcu mi. In hac habitasse platea dictumst.<br> Pellentesque sed felis velit.</p>
      <p style="color:grey; font-size: 10px"> <i class="fa fa-home" ></i>
        Address: Carrera 7 # 72-01<br>
        Bogotá D.C., Colombia<br>
      <i class="fa fa-envelope"></i><span  style="margin-left: 5px">Email: company@domain.com</span><br>

     <i class="fa fa-globe"></i><span  style="margin-left: 5px">Website: www.domain.com</span><br>
        <i class="fa fa-phone"></i><span  style="margin-left: 5px">Telephone: 123-456-7890</span>
      </p>
  </div>
</div>
