<div class="home">
  <div> <h6>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</h6>
  <p>Ut ultrices eu nunc vitae scelerisque. Praesent sollicitudin accumsan diam, sed tristique diam sodales ut. Ut volutpat tempor dignissim.</p>
  </div>

  <div>
    <button type="button" style="color: white;background-color: forestgreen"> Nulla ornare varius</button>
  </div>
</div>

<div class="home1">
  <h5>Proin leo magna</h5>
  <p>Sed volutpat lectus orci, in mattis purus condimentum eget.
    Curabitur pulvinar urna orci, eu dictum leo fermentum quis.</p>
  </div>

<div class="hom">
  <div class="home2" style="color: white;margin-left: 5px">
  <i class="fa fa-globe" style="color: forestgreen;font-size: 30px"></i><span>
    Vestibulum efficitur
  </span>
    <p style="color: white;font-size: 10px">Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus.</p>
  </div>

  <div class="home2" style="color: white;margin-left: 5px">
  <i class="fa fa-globe" style="color: forestgreen;font-size: 30px"></i><span>
    Vestibulum efficitur
  </span>
    <p style="color: white;font-size: 10px">Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus.</p>
  </div>
  <div  class="home2" style="color: white;margin-left: 5px">
  <i class="fa fa-globe" style="color: forestgreen;font-size: 30px"></i><span>
    Vestibulum efficitur
  </span>
    <p style="color: white;font-size: 10px">Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus.</p>
  </div>

  <div class="home2" style="color: white;margin-left: 5px">
  <i class="fa fa-globe" style="color: forestgreen;font-size: 30px"></i><span>
    Vestibulum efficitur
  </span>
    <p style="color: white;font-size: 10px">Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus.</p>
  </div>
  <div  class="home2" style="color: white;margin-left: 5px">
  <i class="fa fa-globe" style="color: forestgreen;font-size: 30px"></i><span>
    Vestibulum efficitur
  </span>
    <p style="color: white;font-size: 10px">Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus.</p>
  </div>
  <div class="home2" style="color: white;margin-left: 5px">
  <i class="fa fa-globe" style="color: forestgreen;font-size: 30px"></i><span>
    Vestibulum efficitur
  </span>
    <p style="color: white;font-size: 10px;text-align: justify">Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus.</p>
  </div>
</div>
<div class="home3">
  <h5>Sed faucibus justo</h5>
 <p>Praesent mollis elit vitae neque condimentum, in semper lectus placerat.</p>
</div>

<div class="home4">
<div class="img1"><img src="assets/img3.jpg"  alt=""><div class="desc">Add a description of the image here</div></div>
<div class="img1"><img src="./assets/img4.jpg" alt=""><div class="desc">Add a description of the image here</div></div>
<div class="img1"><img src="./assets/img5.jpg" alt=""><div class="desc">Add a description of the image here</div></div>
<div class="img1"><img src="./assets/img6.jpg" alt=""><div class="desc">Add a description of the image here</div></div>
</div>

<div class="home5">
<div><h6>PHASELLUS RUTRUM <br>
  LAOREET</h6>
 <p> Aenean libero ipsum,<br>
   pellentesque eu lacus eget,<br>
   sodales accumsan eros.<br>
   Nunc ut leo commodo.</p></div>
<div><img src="./assets/images3.jpg" alt=""></div>
<div><img src="./assets/images4.jpg" alt=""></div>
<div><img src="./assets/images5.jpg" alt=""></div>
<div><img src="./assets/images6.jpg" alt=""></div>
</div>
