.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: gainsboro;
}
.services1 {
  width: 300px;
}
.services1, h5{
  color: #34495e;
  text-align: center;
}
.services1, p{
  font-size: 10px;
  text-align: justify;
}
.services2{
 display: flex;
  justify-content: center;
  background-color: gainsboro;
  color: white;
  text-align: center;
  height: 200px;
}
.services2 div{
  margin-top: 20px;
  background-color: #2dcc70;
width: 500px;
  height: 30px;
}
