<div class="portfolio">
  <div class="portfolio1">
    <a target="_blank" href="./assets/images.jpg">
      <img src="./assets/images.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/images1.png">
      <img src="./assets/images1.png" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/images2.png">
      <img src="./assets/images2.png" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/images3.jpg">
      <img src="./assets/images3.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/images4.jpg">
      <img src="./assets/images4.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/images5.jpg">
      <img src="./assets/images5.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/images.jpg">
      <img src="./assets/images.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/img3.jpg">
      <img src="./assets/images.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/img4.jpg">
      <img src="./assets/img4.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/img5.jpg">
      <img src="./assets/img5.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/img6.jpg">
      <img src="./assets/img6.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
  <div class="portfolio1">
    <a target="_blank" href="./assets/img3.jpg">
      <img src="./assets/img3.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
</div>
